<launch>

  <arg name="map_file" default="/home/nuno/Desktop/IRob/ros_ws/src/ir_self_localization/maps/my_map1.yaml"/>
  <param name="use_sim_time" value="false"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

  <node pkg="amcl" type="amcl" name="amcl">
  <remap from="scan" to="/scan"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="base_frame_id" value="base_link"/>
  <remap from="/odom" to="/odom"/>
  </node>

</launch>
