<launch>
  <!-- Run SLAM Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <!-- Topics: adjust these to match your robot -->
    <remap from="scan" to="/scan" />               <!-- Laser scanner topic -->
    <remap from="odom" to="/odom" />               <!-- Odometry topic -->
  </node>
</launch>
